* {
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
}

.container {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 170px auto 100px ;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.images_mobile {
    display: none;
}

img {
    width: 300px;
    display: flex;
    border-radius: 10px 0px 0px 10px;
}

.product {
    margin: 15px 32px 15px 30px;
}

h3 {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

h1 {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 31px;
    line-height: 1.0;
}

p, span{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

h2 {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;    
    font-size: 30px;
    font-weight: 700;
    padding: 8px;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 15px 68px;
}
button:hover {
    background-color: hsl(158, 36%, 30%);
    cursor: pointer;
}

.footer {
    font-size: 12px;
    text-align: center;
}
.footer a {
    color: hsl(228, 45%, 44%);
}


@media (max-width:375px) {    
    .container {
        margin: 20px;
        flex-direction: column;
        
    }

    .images_desktop {
        display: none;
    }

    .images_mobile {
        display: flex;    
    }

    img {
        width: 600px;
        border-radius: 10px 10px 0px 0px;
    }

    .product {
        padding: 20px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 50px;
    }

    p, span {
        font-size: 22px;
    }

    button {
        text-align: center;
        font-size: 22px;
        padding: 25px 168px;

    }

    .footer{
        margin-top: 20px;
        margin-left: 30px;
        font-size: 20px;
    }

}